<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

	<!-- scan @components in task -->
	<context:component-scan base-package="com.thon.task"/>
	
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<task:executor id="taskExecutor" pool-size="5-25" queue-capacity="100" rejection-policy="CALLER_RUNS"/>
	<task:scheduler id="taskScheduler" pool-size="5"/>
	<task:annotation-driven executor="taskExecutor" scheduler="taskScheduler"/>
	
	<!-- 定时器任务 -->
	<!-- task:scheduled-tasks>
		<task:scheduled ref="" method=""/>
	</task:scheduled-tasks> -->
	
	<!-- Java Mail Sender -->
	<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
  		<property name="host" value="${mail.host}"/>
  		<property name="port" value="${mail.port}"/> 
  		<property name="username" value="${mail.username}"/>
  		<property name="password" value="${mail.password}"/>
	</bean>
	
	<!-- Freemarker Configuration -->
	<bean class="org.springframework.ui.freemarker.FreeMarkerConfigurationFactoryBean">
   		<property name="templateLoaderPath" value="/WEB-INF/"/>
   		<property name="defaultEncoding" value="UTF-8"/>
   		<!-- <property name="freemarkerSettings">
   			<props>
   				<prop key="auto_import">localization/spring.ftl as spring</prop>
   			</props>
   		</property> -->
	</bean>

</beans>